@model IEnumerable<Hms.Models.Appointment>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Pid }) |
            @Html.ActionLink("Details", "Index", new {id=item.Pid}) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Pid }, new { onclick = "return confirm('Are sure wants to delete?');" })
        </td>
    </tr>
}

</table>
